:root{
	--default-theme-dot:white;
	--green-theme-dot:green;
	--blue-theme-dot:blue;
	--dark-theme-dot:darkblue;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	margin: 0;	;
	width: 100%;
	overflow-wrap: break-word;
}
body *{
	transition: all 0.3s linear;
}

#top-header, #school-badge, #header-user-info{
	transition: all 0.5s ease-in;
	z-index: 3;
}
 #header-school-other-info{
 	position:absolute;
	bottom: 0px;
	transition: all 0.25s ease-in 0.25s;
	padding-bottom: 10px;
 }
 
#header-user-info{
	border: none;
	color: white;
}

#aside-nav-wrapper a i{
	width: 60px;
	font-size: 30px;
	text-align: center;
}
.school-name span{
	-webkit-text-stroke: 0.3px yellow;
	color : var(--color);
	transition: all 0.8s ease;
	opacity :0.2;
}

.school-name span.school-name-fade{
	color : var(--color);
	opacity: 1;
}

/*#asd{
	display: grid;
	grid-template-columns: "250px 1fr" !important;
	grid-template-rows: auto;
	grid-template-areas: 
			"aside content";
	background-color: red;
}*/
aside{
	/*grid-area: aside;*/
	border-radius: 5px;
	min-height: 450px !important;
	/*width: 250px !important;*/
}

#content{
	/*grid-area: content;*/
	background: var(--content-bg) !important;
}

footer{
	padding: 20px;
	background: var(--footer-bg);
	color: var(--footer-color);
	width: 100%;
}

.statistics-flex,.statistics-flex{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.s-item{
	min-width: 200px;
	max-width: 25%;
	transition: background-color 0.4s linear;
	transition: color 0.2s linear;
}

.s-item:hover{
	background-color: #11698e;
	color: white;
}

.l-item{
	min-width: 300px;
	max-width: 25%;
}

.statistics-flex > div{
	border-radius: 10px;
}

#user-nav{
	position: absolute;
	top: 82%;
	right: 0px;
	width: 200px !important;
}

#user-nav .nav-link{
	font-size: 16px;
	width: 100%;
}

#aside-nav-xm-ul li:hover{
	background: red;
}

.sub-nav{
	margin-left: 50px;
	font-size: 14px;
}

.sub-nav .nav-links{
	width: 100%;
}
.admissions-table {
	display: flex;
	width: 100% !important;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 25px;
}

#aside-nav-xm-ul nav{
	position: absolute;
	width: 200px;
}

#aside-nav-xm-ul li,#aside-nav-xm-ul a{
	padding: 0;
	margin: 0;
}

#aside-nav-xm-ul li li{
	padding: 5px;
	padding-left: 20px;
}

.nav-item .active-xm{
	background: green;
}

#interview-timetable th{
	width: 15%;
	word-wrap: break-word;
}
#interview-timetable td{
	background: white;
}

.timetable-select{
	background: green !important;
}

.timetable-unselect{
	background: white !important;
}

.hide{
	display: none !important;
}
.show{
	display: initial !important;
}

.delete-button{
	text-align: center;
	font-size: 20px;
	color: red;
}

.delete-button:hover{
	color: black;
}

#theme-dots-wrapper>div{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	width: 100px;
}

#theme-dots-wrapper>div>div{
		width: 30px;
		height: 30px;
		border-radius: 50%;
}

#default-dot >div{
	background-color: var(--default-theme-dot);
}

#blue-dot div{
	background-color: var(--blue-theme-dot);
}

#green-dot>div{
	background-color: var(--green-theme-dot);
}

#dark-dot>div{
	background-color: var(--dark-theme-dot);
}

.selected_theme_dot{
	border-right:  3px solid white;
	border-top : 3px solid white;
	border-bottom : 3px solid black;
	border-left: 3px solid black;
}
.selected_theme_dot+ span{
	font-weight: 900;
}

@media  (min-width:0px){
	
}

@media  (min-width:576px){
	
}

@media  (min-width:768px){
	#header-user-info{
		border: 2px solid orange;
		color: white;
	}
	#user-nav{
		left:  2% !important;
		width: 90% !important;
}
}

@media  (min-width:992px){

	#header-school-info{
		justify-content: flex-start;
	}
}

@media  (min-width:1200px){

}
