:root{
	--body-bg :#212529;
	--content-bg : #cbeaed;
	--header-bg : #1f4068;
	--header-color: white;
	--nav-item-active : darkblue;
	--fieldset-border-color : darkblue;
	--footer-bg:#1f4068;
	--footer-color:white;
	--border-color: orange;
	--font-color: white;
}

.school-name span{
	--color: white;
}
.school-name span.school-name-fade{
	--color: orange;
}

table{
	--border-top:10px solid blue ;
	--border-right: none;
	--border-bottom: none;
	--border-left: none;
	--border:none;
	--border-collapse: collapse;

	--bg : #153e90;
	--border-radius : 10px;
	--padding :2px;
}

table th, td{
	--padding: 10px;
	--border-radius: 0px;
	--border-right: 2px solid gray;
}
.table-strip-dark thead th{
	--bg: #0a043c;
	--color: white;
	--border-right: 2px solid white;
	--padding: 20px 5px 5px 5px;
}

.table-strip-dark th:first-child{
	--border-top-left-radius: 10px;
}

.table-strip-dark th:last-child{
	--border: none;
	--border-top-right-radius: 10px;
}
.table-strip-dark td:last-child{
	--border: none;
}


.table-strip-dark tbody tr{
	--border-bottom: none;
}
.table-strip-dark tbody tr:last-child{
	--border-bottom: none;
}

.table-strip-dark tbody tr:nth-child(odd){
	--bg: rgba(255,255,255,0.7);
	--color: darkblue;
}
.table-strip-dark tbody tr:nth-child(even){
	--bg: rgba(255,255,255,0.9);
	--color : darkblue;	
}


.theme-sidebar{
	--bg : linear-gradient(to right, rgba(255,255,255,0.7),rgba(255,255,255,0.5));
	--color: darkblue;
	--sidebar-border-color: white;
	--sidebar-link-color: darkblue;
	--sidebar-link-hover: darkblue;
	--sidebar-border: none;
	--border-radius: 50px;
}
.theme-sub-nav{
	--bg : #20295b;
	--color: ;
	--sidebar-border-color: white;
	--sidebar-link-color: white;
	--sidebar-link-hover: ;
	
}

.section-wrapper,section{
	--bg: linear-gradient(to left top, rgba(255,255,255,0.5), rgba(255,255,255,0.1));
	--border-radius: 20px;
	--box-shadow: 6px 6px 20px rgba(122,122,122,0.4);
}

h2{
	--color: rgba(0,0,128,0.6);
}

.btn1{--bg: #11698e;--color: white;}
.btn1:hover{--bg: #19456b;}

.btn2{--bg: #ec4646;--color: white;}
.btn2:hover{--bg: darkred;}

.btn3{--bg: green;--color: white;}
.btn3:hover{--bg: darkgreen;}

.pagination-btn1{--bg: #11698e;--color: white}
.pagination-btn1:hover{--bg: darkblue;}

.pagination-btn2{--bg: #ec4646;--color: white}
.pagination-btn2:hover{--bg: #dd2c00;}

.pagination-btn3{--bg: gray;--color: white}
.pagination-btn3:hover{--bg: darkgray;}

.section-wrapper,section{
	--bg: linear-gradient(to left top, rgba(255,255,255,0.1), rgba(255,255,255,0.6));
	--border-radius: 20px;
	--box-shadow: 6px 6px 10px rgba(122,122,122,0.4);
	--display: flex;
	--flex-direction: column;
	--align-items: center;
	--width: 95%;
	--padding-right: 20px;
	--padding-left: 20px;
}
.section-item{
	--bg: linear-gradient(to left top, rgba(255,255,255,0.6), rgba(255,255,255,0.8));
	--border-radius: 10px;
	--box-shadow: 6px 6px 6px rgba(122,122,122,0.2);
	--display: flex;
	--flex-direction: column;
	--align-items: center;
	--width: 100%;
	--padding-right: 20px;
	--padding-left: 20px;
}

.header-hr{
	--bg: orange;
	--height: 4px;
	--box-shadow:0 2px 4px 1px rgba(122,122,122,0.5);
	--p: 0;
	--m: 0;
}
.topic-hr{
	--bg-image-color1:#b1b8e3;
	--bg-image-color2:darkblue;
	--bg-image-color3:#b1b8e3;
	--height: 3px;
	--box-shadow: none;
	--p: 0;
	--m: 0 0 10px 0;
}